.transparent-span {
  background-color: white;
  border-width: 0;
}

.form-control {
  border-width: 0px;
  background-color: white;
}

.form-control:focus {
  box-shadow: none;
}

.input-group {
  border-width: 2px;
  border-style: solid;
  border-color: #CED4DA;
  margin-bottom: 24px;
  border-radius: 8px;
}

.input-group:focus-within {
  border-color: #36e5ee !important;
}

.auth-button {
  background-color: #26CAD3;
  border: 0;
  border-radius: 30px;
  height: 40px;
}

.auth-button:hover {
  background-color: #36e5ee;
  border: 0;
}

.auth-button:active {
  background-color: #36e5ee !important;
  border: 0;
  box-shadow: 0 0 0 0.15rem #36e5ee10 !important;
}

.auth-button:focus {
  background-color: #36e5ee;
  border: 0;
  box-shadow: 0 0 0 0.15rem #36e5ee10 !important;
}

.form-check-input:focus {
  border-color: #36e5ee;
  box-shadow: 0 0 0 0.05rem #36e5ee10;
}

.container {
  min-width: 100%;
  position: absolute;
  z-index: -100;
}

.row-style {
  width: 100vw;
  height: 100vh;
}

.form-style {
  width: 75%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.link-style {
  text-decoration: none;
  color: #26CAD3;
  font-family: 'Lato';
  font-weight: 700;
}

.link-style:hover {
  text-decoration: none;
  color: #26CAD3;
  font-family: 'Lato';
  font-weight: 700;
}

.form-center {
  text-align: center;
}

.headings {
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  margin-bottom: 32px;
  color: #ffffff
}

.headings-button {
  font-family: 'Poppins' !important;
  font-weight: 600 !important;
}

.paragraph {
  font-family: 'Lato' !important;
  font-weight: 500;
  color: #ffffff
}

.headings-alternative {
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  margin-bottom: 32px;
}

.paragraph-alternative {
  font-family: 'Lato' !important;
  font-weight: 500;
}

.formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #faf9f9;
  padding: 30px;
  width: 75%;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgb(0 0 0 / 10%);
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.form-group-resetpw {
  margin-bottom:0 !important;
}

.logo {
  width:191.8px;
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
  top: 0;
  left: 0;
  max-height: 100%;
}