.checkout-body {
  display: grid;
  padding: 5vmin;
  place-items: center;
}

.checkout-card-top {
  background-color: rgba(19, 25, 30, 1);
  border-radius: 2em 2em 0 0;
  block-size: auto;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.137);
  padding: 2em;
}

.header-checkout {
  display: flex;
  justify-content: center;
  padding-block: 0.5em;
  color: #ffffff
}

.checkout-card-bottom {
  background-image: linear-gradient(to bottom, #fbf6f7, #fff);
  border-radius: 0 0 2em 2em;
  block-size: auto;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.137);
  padding: 2em;
}

.card {
  border-radius: 1em;
  background-color: #26CAD3;
  color: #fff;
  padding: 1em;
}

table {
  border-collapse: collapse;
  inline-size: 100%;
}

tbody {
  color: #b4b4b4;
}

td {
  padding-block: 0.125em;
}

tfoot {
  border-top: 1px solid #b4b4b4;
  font-weight: 600;
}
