body {
  background: #F5F5F5;
}

.dropdown-menu.show {
  margin-top: 20px;
  border-radius: 8px;
  margin-left: -17px;
  box-shadow: 2px 2px 5px rgba(101,101,101,0.43);
  border-width: 0 !important;
  border-color: transparent !important;
}

.header-general {
  height: 80px;
  background: rgba(19, 25, 30, 1);
  z-index: 100;
  position: relative;
}

.navbar {
  position: absolute;
  height: 100%;
  right: 0;
  margin-right: 80px;
}

.logo {
  width:172.8px;
  height:71.98px;
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
  top: 0;
  left: 0;
  max-height: 100%;
}

.nav-margin {
  margin-right: 30px;
}

.cart-icon:hover .cart-icon-two {
  color: #ffffff !important;
}

.cart-icon:focus-within .cart-icon-two {
  color: #ffffff !important;
}

.navbar-link-loggedOut {
  border-bottom: 0;
  background: linear-gradient(0deg, rgba(38, 202, 211, 1) 0%, rgba(78, 231, 235, 1) 100%);
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  color: #ffffff !important;
  text-decoration: none;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
}

.navbar-link-loggedOut:hover {
  color: #2A3138 !important;
  text-decoration: none;
}

.navbar-link {
  text-decoration: none;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  color: #dadada !important;
  border-bottom: 3px solid transparent;
}

.navbar-link:hover {
  transition: border-bottom linear;
  border-bottom: 3px solid #26CAD3;
  text-decoration: none;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  color: #ffffff !important;
}

.navbar-link-dropdown {
  text-decoration: none;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  color: #212529cb !important;
}

.navbar-link-dropdown:hover {
  text-decoration: none;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  color: #212529 !important;
}

.navbar-link-dropdown:active {
  text-decoration: none;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  background-color: rgba(19, 25, 30, 1) !important;
  color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
  .nav-item-hamburguer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    width: 100%;
  }
}

.footer {
  background: linear-gradient(0deg, rgba(19, 25, 30, 1) 0%, rgba(43, 61, 75, 1) 100%);
  border-top: 8px solid #26CAD3;
  padding: 55px 50px;
  margin-top: 80px;
}

.headings {
  font-family: 'Poppins' !important;
  font-weight: 700;
  color: #212529
}

.footer-headings {
  font-family: 'Poppins' !important;
  font-weight: 700;
  color: #ffffff
}

.FooterLinks {
  text-decoration: none !important;
  color: #dadada !important;
  font-family: 'Lato' !important;
  font-weight: 700 !important;
}

.FooterLinks:hover {
  text-decoration: none !important;
  color: #ffffff !important;
  font-family: 'Lato' !important;
  font-weight: 700 !important;
}

.List-Style {
  list-style-type: none !important;
}

.social-icon {
  margin: 0 6px !important;
}

.footer-social {
  text-align: center;
}

.fa-icon {
  color: #212529 !important;
  background-color: white !important;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  font-size: 32px !important;
  line-height: 40px !important;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(101,101,101,0.43) !important;
}

.social-icon:hover .fa-facebook {
  background-color: #3B5999 !important;
  color:white !important;
}

.social-icon:hover .fa-instagram {
  background: #d6249f; 
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color:white !important;
}

.social-icon:hover .fa-youtube-play {
  background-color: #de463b !important;
  color:white !important;
}

.social-icon:hover .fa-twitter {
  background-color: #46C1F6 !important;
  color:white !important;
}

.social-icon:hover .fa-linkedin {
  background-color: #2867B2 !important;
  color:white !important;
}

#main-nav, #cd-cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  /* header height */
  padding-top: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

@media only screen and (min-width: 1200px) {
  #main-nav, #cd-cart {
    width: 30%;
    /* header height has changed */
    padding-top: 80px;
  }
}

#cd-cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}
#cd-cart.speed-in {
  right: 0;
}
#cd-cart > * {
  padding: 0 1em;
}
#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
#cd-cart .cd-cart-items {
  padding: 0;
}
#cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
  color: #a5aebc;
}
#cd-cart .cd-price {
  margin-top: .4em;
}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("/assets/img/cd-remove-item.svg") no-repeat center center;
}

#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
  float: right;
}
#cd-cart .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #26CAD3;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  font-size: 18px;
}

#cd-cart .checkout-btn:hover {
  background: #36e5ee !important;
  color: #ffffff;
}

.erase-link {
  color: #C1C1C1 !important;
  text-decoration: none !important;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
}

.erase-link:hover {
  color: #C1C1C1;
  text-decoration: underline !important;
}

#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cd-cart .cd-go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  #cd-cart > * {
    padding: 0 2em;
  }
  #cd-cart .cd-cart-items li {
    padding: 1em 2em;
  }
  #cd-cart .cd-item-remove {
    right: 2em;
  }
}

.my-cart {
  right: 0;
  position: absolute;
  height: 80px;
  width: 80px;
  text-align: center;
  background: #26cad31a;
  line-height: 5;
}

#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}