.sticky-content {
  top: 0;
  position: sticky;
}

.image-settings {
  border-radius: 10px;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.elements-center {
  text-align: center;
}

.input-style {
  border-radius: 10px;
  border: 3px solid #26CAD3;
  width: 120px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  background: #F5F5F5;
}

.input-style:focus {
  border-radius: 10px;
  border: 3px solid #26CAD3;
  outline: 0;
  text-align: center;
  background: #F5F5F5;
}

.buy_button {
  box-shadow: 0 1px 0 1px rgb(0 0 0 / 30%);
  background-color: #26CAD3;
  border-color: #26CAD3;
  font-size: 32px;
  padding: 12px 24px;
  width: 100%;
}

.buy_button:hover {
  box-shadow: 0 2px 0 1px rgb(0 0 0 / 30%);
  border-color: #88f3f8;
  background-color: #36e5ee;
  font-size: 32px;
  padding: 12px 24px;
  width: 100%;
}

.buy_button:active {
  border-color: #88f3f8 !important;
  background-color: #36e5ee !important;
  font-size: 32px !important;
  padding: 12px 24px !important;
  width: 100% !important;
  box-shadow: 0 0 0 .20rem #88f3f8ce !important;
}

.buy_button:focus {
  box-shadow: 0 1px 0 1px rgb(0 0 0 / 30%);
  background-color: #26CAD3;
  border-color: #26CAD3;
  font-size: 32px;
  padding: 12px 24px;
  width: 100%;
}

.buy_ticket {
  background-color: #26CAD3;
  border-color: #26CAD3;
  box-shadow: 0 1px 0 1px rgb(0 0 0 / 30%);
  border-radius: 5px;
  width: 120px;
}

.buy_ticket:hover {
  box-shadow: 0 1.5px 0 1px rgb(0 0 0 / 30%);
  border-color: #88f3f8;
  background-color: #36e5ee;
  border-radius: 5px;
  width: 120px;
}

.buy_ticket:active {
  box-shadow: 0 0 0 .10rem #88f3f8ce !important;
  border-color: #88f3f8 !important;
  background-color: #36e5ee !important;
  border-radius: 5px !important;
  width: 120px !important;
}

.buy_ticket:focus {
  background-color: #26CAD3;
  border-color: #26CAD3;
  box-shadow: 0 1px 0 1px rgb(0 0 0 / 30%);
  border-radius: 5px;
  width: 120px;
}

.icon-vertical-align {
  display: flex;
  justify-content: center;
}

.icon-style {
  color: #26CAD3;
  cursor: pointer;
}

.icon-style:hover {
  color: #36e5ee;
  cursor: pointer;
  text-shadow: 0 0 1px #88f3f8;
}

.icon-style:active {
  cursor: pointer;
  text-shadow: 0 0 3px #88f3f8;
  color: #36e5ee;
}

.headings {
  font-family: 'Poppins';
  font-weight: 800;
}

.medium-headings {
  font-family: 'Poppins';
  font-weight: 600;
}

.paragraph {
  font-family: 'Lato';
  font-weight: 400;
  text-align: left;
}

.review-margin-top {
  margin: 1rem 2rem 0 2rem

}

.review-margin-bottom {
  margin: 1rem 2rem 2rem 2rem

}

.review-line {
  display: inline-block;
}

.circle {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #ED8205;
  position:absolute;
  right: 0;
  margin-top: -80px;
  box-shadow: 1px 1px 5px rgba(101, 101, 101, 0.815);
}

.past-price {
  position: absolute;
  right: 0;
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 85px;
  margin-top: -10px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}