{% extends 'MainNav.html' %}

{% block title %} Kappy | Admin {% endblock %}
    
{% block content %}
<link rel="stylesheet" href="/assets/css/ControlPanel.css">
    <div class="container">
        <form>
            <div class="container">
                <div class="row">
                    <h1 class="headings col-xl-6">Painel de Estatísticas</h1>  
                    <a class="col-xl-6" style="text-align: end;" href="/TheBrain"><i class="material-icons"">keyboard_backspace</i></a>   
                </div>
                <br>
                <div class="row">
                </div>
                <br>
            </div>
        </form>
    </div>
{% endblock %}