{% extends 'MainNav.html' %}

{% block title %} Kappy | The Brain {% endblock %}
    
{% block content %}
<link rel="stylesheet" href="/assets/css/AuthForms.css">
<div class="formContent" style="transform:translateY(5%) !important;">
<div class="row">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-database"></i></span><input class="form-control paragraph-alternative" type="number" placeholder="ID do Utilizador" name="user_id"  value="{{ cuser_id }}" required="" min="1"></div>
            <button type="submit">Escolher ID</button>
        </div>
    </form>
</div>
    <form action="/Updating_UserInfo" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="card-body">
            <div class="row">
                <div class="form-group">
                    <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-database"></i></span><input class="form-control paragraph-alternative" type="number" placeholder="ID do Utilizador" name="user_id"  value="{{ cuser_id }}" required="" min="1"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="paragraph-alternative">Primeiro Nome</label>
                    <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-user"></i></span><input type="text" class="form-control paragraph-alternative" name="myname" value="{{ cmyname }}" placeholder="John"
                        pattern="^[a-zA-Z\-]{1,64}$"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="paragraph-alternative">Apelido</label>
                    <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-user"></i></span><input type="text" class="form-control paragraph-alternative" name="surname" value="{{ csurname }}" placeholder="Doe"
                        pattern="^[a-zA-Z\-]{1,64}$"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="paragraph-alternative">E-mail</label>
                    <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-envelope"></i></span><input type="email" class="form-control paragraph-alternative" name="email" value="{{ cemail }}"
                        placeholder="JohnDoe@mail.com" pattern="^[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9\]])?$"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="paragraph-alternative">Data de Nascimento</label>
                    <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-birthday-cake"></i></span><input id="datefield" type="date" class="form-control paragraph-alternative" name="birthday"
                        value="{{ cbirthday }}" placeholder="January 1, 2000" min='1903-01-02' max='2000-13-13'></div>
                </div>
            </div>
        </div>
        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" required=""><label class="form-check-label paragraph-alternative" for="formCheck-1">Revi todos os detalhes do Utilizador.</label></div>
        <br>
        <button class="btn btn-primary col-12 auth-button headings-button" type="submit">Editar o Utilizador</button>
    </form>
</div>
<script src="/assets/js/Birthdate.js"></script>
{% endblock %}