{% extends 'MainNav.html' %}

{% block title %} Kappy | Admin {% endblock %}
    
{% block content %}
<div class="formContent" style="transform:translateY(5%) !important;">
    <div class="container">
        {% if result %}
        <div class="row projects">
            <div class="col">
            <div class="table-responsive table-hover table-bordered">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="headings">ID da Compra</th>
                            <th class="headings">ID do Utilizador</th>
                            <th class="headings">ID do Evento</th>
                            <th class="headings">Produto</th>
                            <th class="headings">Quantidade</th>
                            <th class="headings">Fornecedor</th>
                            <th class="headings">Status</th>
                            <th class="headings">Criado a - UTC+1</th>
                        </tr>
                    </thead>
                    {% for order_id, user_id, product_id, product_qty, title, vendor, status, created_at in result %}
                    <tbody>
                        <tr>
                            <td class="paragraph">{{ order_id }}</td>
                            <td class="paragraph">{{ user_id }}</td>
                            <td class="paragraph">{{ product_id }}</td>
                            <td class="paragraph">{{ title }}</td>
                            <td class="paragraph">{{ product_qty }}</td>
                            <td class="paragraph">{{ vendor }}</td>
                            <td class="paragraph">{{ status }}</td>
                            <td class="paragraph">{{ created_at }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
        {% endif %}
    </div>
</div>

{% endblock %}