{% extends 'MainNav.html' %}

{% block title %} Kappy | Admin {% endblock %}
    
{% block content %}
<link rel="stylesheet" href="/assets/css/ControlPanel.css">
    <div class="container">
        <form>
            <div class="container">
                <div class="row">
                    <h1 class="headings col-xl-6">Gerir as Avaliações</h1>  
                    <a class="col-xl-6" style="text-align: end;" href="/TheBrain"><i class="material-icons"">keyboard_backspace</i></a>   
                </div>
                <br>
                <div class="row">
                    <a href="/TheBrain/ManageReviews/ListReviews" class="col-md-12 col-xl-4 column-style">
                        <h3 class="headings-column box-headings"><i class="material-icons icons-panel">person</i> List Reviews</h3>
                    </a>
                    <a href="/TheBrain/ManageReviews/EditReview" class="col-xl-4 column-style">
                        <h3 class="headings-column box-headings"><i class="material-icons icons-panel">edit</i> Edit Review</h3>
                    </a>
                    <a href="/TheBrain/ManageReviews/DeleteReview" class="col-xl-4 column-style">
                        <h3 class="headings-column box-headings"><i class="material-icons icons-panel">manage_accounts</i> Delete Review</h3>
                    </a>
                </div>
                <br>
            </div>
        </form>
    </div>
{% endblock %}