{% extends 'MainNav.html' %}

{% block title %} Kappy | Meus Pedidos {% endblock %}

{% block content %}
<link rel="stylesheet" href="/assets/css/EventCards.css">
<div class="container">
    <h1 class="headings">Os meus Pedidos</h1>
    <p class="paragraph">Aqui é onde aparece toda a informação relativa à entrega dos produtos que compraste, assim como um histórico de todas as tuas compras feitas na plataforma.</p><br>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link link-style active" onclick="openTab(event,'tab-1')" style="cursor:pointer">Meus Pedidos</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link link-style" onclick="openTab(event,'tab-2')" style="cursor:pointer">Histórico de Compras</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="tab-1"><br>
                <div class="container card">
                    {% if result %}
                    <div class="row">
                        {% for order_id, user_id, product_id, product_qty, total_price, status, image, title, category, vendor, created_at in result %}
                        <div class="col" style="padding: 0;">
                            <div class="row order_card_top">
                                <div class="col-xxl-5">
                                    <div class="row">
                                        <div class="col">
                                            <div style="margin-top: 5px;">
                                                <p class="order_top_title">PEDIDO EFETUADO</p>
                                                <p class="order_top_paragraph">{{ created_at }}</p>                                
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div style="margin-top: 5px;">
                                                <p class="order_top_title">TOTAL</p>
                                                <p class="order_top_paragraph">{{ total_price }}</p>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div style="margin-top: 5px;">
                                                <p class="order_top_title">VENDIDO POR</p>
                                                <p class="order_top_paragraph">{{ vendor }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row"></div>
                                </div>
                                <div class="col-xxl-4">
                                    <div class="row">
                                        <div class="col">
                                            <div style="margin-top: 5px;">
                                                <p class="order_top_title" style="float: right;">Nº DA ORDEM: {{ order_id }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="steps-progressbar">
                                        <ul>
                                            <li class="previous">Encomendado</li>
                                            <li class="active">Enviado</li>
                                            <li>Em Distribuição</li>
                                            <li>Entregue</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding:20px;">
                                <div class="col-xxl-3">
                                    <img class="card-img w-100 d-block image-settings" src="assets/img/{{ image }}">
                                </div>
                                <div class="col-xxl-5">
                                    <h1>{{ title }}</h1>
                                </div>
                                <div class="col-xxl-4">
                                    <div style="text-align:center;margin-top: 30px;">
                                        <button class="order_card_button_orange">Seguir encomenda</button>
                                        <button class="order_card_button">Devolver produto</button>
                                        <form action="/myReview/{{ category }}/{{ product_id }}">
                                            <button class="order_card_button">Avaliar produto</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-2"><br>
                <div class="container">
                    {% if result %}
                    <div class="row projects">
                        <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="headings">ID da Compra</th>
                                        <th class="headings">Produto</th>
                                        <th class="headings">Preço Total</th>
                                        <th class="headings">Status</th>
                                    </tr>
                                </thead>
                                {% for order_id, user_id, product_id, product_qty, total_price, status, image, title, category, vendor, created_at in result %}
                                <tbody>
                                    <tr>
                                        <td class="paragraph">{{ order_id }}</td>
                                        <td class="paragraph">{{ title }}</td>
                                        <td class="paragraph">{{ total_price }}</td>
                                        <td class="paragraph">{{ status }}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/TabSelect.js"></script>
{% endblock %}