{% extends 'MainNav.html' %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title> Kappy | {{ meta_title }} </title>
<meta name="description" content="{{ meta_description }}">
<meta name="keywords" content="{{ meta_tags }}">
<link rel="shortcut icon" href="{{ url_for('send_static', path='img/myIcons/fav.ico') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&amp;display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600,700,800,900&amp;display=swap">
<link rel="stylesheet" href="/assets/css/Nav_Footer.css">
<link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="/assets/css/starability-all.min.css"/>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/assets/css/ProductTemplate.css">
<link rel="stylesheet" href="/assets/css/FAQ.css">
<link rel="stylesheet" href="/assets/css/LikeButton.css">
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 elements-center">
            <br>
            <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
                <div class="carousel-inner">
                    {% for image in image_group %}
                    <div class="carousel-item{% if loop.revindex == 1 %} active{% endif %}">
                        <img class="image-settings" src="/assets/img/{{ title }}/{{ image }}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br><br><br>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 position-sticky elements-center">
            <div class="sticky-content"><br>
                    <div>
                        <h1 class="headings">{{ title }}</h1>
                    </div>
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div style="width:40px;">
                    <button type="submit" name="favorite_btn" class="like-div">
                        {% if fav_active == 1 %}
                        <i class="like-icon pressed"></i><span class="like-span pressed">Gostei!</span>
                        {% else %}
                        <i class="like-icon"></i><span class="like-span">Gostei!</span>
                        {% endif %}
                    </button>
                    </div>
                </form>
                    <br>
                    <p class="paragraph">{{ description }}</p>
                    <br>
                    <br>
                {% if on_request == False %}
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button class="btn btn-primary buy_button" name="add_basket" type="submit">Adicionar ao Carrinho por € {{ discounted_price }} <div class="past-price">€ {{ price }}</div><div class="circle">-{{ discount }}%</div></button>
                    <br>
                    <br>
                    <p class="paragraph" style="text-align:right">Vendido por: {{ vendor }}</p>
                </form>
                {% elif on_request == True %}
                <button class="btn btn-primary buy_button popup" onclick="myPopup()" name="send_email" type="submit">Preço sob consulta desde {{ discounted_price }}
                    <div class="past-price">€ {{ price }}</div>
                    <div class="circle">-{{ discount }}%</div>
                    <span class="popuptext" id="myPopup">
                        <a href="https://wa.me/{{ vendor_phone }}?text=Venho%20por%20parte%20da%20Kappy.%0A%0APretendo%20consultar%20o%20preço%20do%20produto/serviço%20{{ title }}." target="_blank" ><i class="fa fa-whatsapp"></i></a>
                        <a href="mailto:{{ vendor_email }}?cc=edudas.me1997@gmail.com&subject=Consulta de Preço - Kappy&body=Estimado, pretendo consultar o preço do produto/serviço {{ title }}." target="_blank" ><i class="fa fa-envelope"></i></a>
                    </span>
                </button>
                <br>
                <br>
                <p class="paragraph" style="text-align:right">Vendido por: {{ vendor }}</p>
                {% endif %}
            </div>
        </div>
        <br>
        <br>
        <div class="faqs-container" itemscope="">
            <div class="faq-singular" itemscope="" itemprop="&quot;mainEntity&quot;">
                <h1 class="faq-question" itemprop="&quot;name&quot;">Especificações</h1>
                <div class="faq-answer" itemscope="" itemprop="&quot;acceptedAnswer&quot;">
                    <div itemprop="&quot;text&quot;">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="faqs-container" itemscope="">
            <div class="faq-singular" itemscope="" itemprop="&quot;mainEntity&quot;">
                <h1 class="faq-question" itemprop="&quot;name&quot;">Métodos de Pagamento</h1>
                <div class="faq-answer" itemscope="" itemprop="&quot;acceptedAnswer&quot;">
                    <div itemprop="&quot;text&quot;">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="faqs-container" itemscope="">
            <div class="faq-singular" itemscope="" itemprop="&quot;mainEntity&quot;">
                <h1 class="faq-question" itemprop="&quot;name&quot;">Embalagem</h1>
                <div class="faq-answer" itemscope="" itemprop="&quot;acceptedAnswer&quot;">
                    <div itemprop="&quot;text&quot;">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="faqs-container" itemscope="">
            <div class="faq-singular" itemscope="" itemprop="&quot;mainEntity&quot;">
                <h1 class="faq-question" itemprop="&quot;name&quot;">Envio e Devolução</h1>
                <div class="faq-answer" itemscope="" itemprop="&quot;acceptedAnswer&quot;">
                    <div itemprop="&quot;text&quot;">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="faqs-container" itemscope="">
            <div class="faq-singular" itemscope="" itemprop="&quot;mainEntity&quot;">
                <h1 class="faq-question" itemprop="&quot;name&quot;">Avaliações</h1>
                <div class="faq-answer" itemscope="" itemprop="&quot;acceptedAnswer&quot;">
                    <div itemprop="&quot;text&quot;">
                    {% if review_list %}
                        {% for review_user_id, review_title, review_rating, review_content in review_list %}
                        <div class="card overflow-hidden">
                            <div class="review-margin-top">
                                <p class="review-line">{{ review_user_id }}</p>
                                <p style="float: right;" class="starability-result review-line" data-rating="{{ review_rating }}">
                                    Rated: {{ review_rating }} stars
                                </p>
                            </div>
                        <p class="review-margin-bottom">"{{ review_content }}"</p> 
                        </div>
                        <br>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/ChooseTickets.js"></script>
<script src="/assets/js/FAQ.js"></script>
<script>
    // When the user clicks on <div>, open the popup
    function myPopup() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
    </script>
<script>
  $(function() {
    $( ".like-icon" ).click(function() {
      $( ".like-icon,.like-span" ).toggleClass( "press", 1000 );
    });
  });    
</script>
{% endblock %}